body{
  background-color: red;
}

.App {
  text-align: center;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}

.Topbar {
  background-color: yellow;
  width: 100%;
  padding: 1%;
}

.Leftbar {
  background-color: green;
  width: 20%;
  padding: 1%;
  flex-grow: 2;

}

.Middlebar {
  background-color: blue;
  width: 50%;
  padding: 1%;
  flex-grow: 2;

}

.Rightbar {
  background-color: indigo;
  width: 20%;
  padding: 1%;
  flex-grow: 2;

}

.Footer {
  background-color: violet;
  width: 100%;
  padding: 1%;
}